
body {
    background-color: black;
     align-items: center;
    background-repeat: no-repeat;
    background-position: top;
}

header {
    text-align: center;
    margin:auto;
}
h1 {
    text-emphasis: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white; 
    font-size: 40px;
    margin:40px auto 20px auto;
}
.browse a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
    padding: 10px;
    padding-left: 0;
    font:bolder;
}
.browse li{
    display: inline;
}
.browse div{
    display: inline;
}
p {
    color: white;
    max-width: 50%;
    text-align: center;
    margin:auto;
}
.sidebar {
    display:block !important;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 1;
  }
  .sidebar li a {
      width: 10%;
  }
  .sidebar li a:hover img {
      transform: scale(1.5);
  }
.iframe-container {
    display: flex;
    justify-content: center;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: auto;
    margin-bottom: 0;
}
.ham {
    display: none;
}
h2 {
    color: white;
    display: flex;
    justify-content: center;
}
.quotes{
    justify-content: center;
}
.quotes li {
    color: white;
    text-align: center;
    justify-content: center;
}

   @media screen and (max-width: 900px) {
      .browse {
          display: none;
      }
      .browse.show {
        display: block;
    }
        .browse.show li a{
        display: block;
        width: 100%;
    }
      p {
          word-spacing: 5px;
          margin:auto;
      }
      .sidebar {
          display: none;
      }

      li a img {
          display: none;
      }
      .ham {
        display: block;
        max-width: 5%;
        max-height: 5%;
       }
   }